/* Styles for navigation bar */

.mat-menu-item {
  font-size: 16px;
  font-family: 'Maven Pro', sans-serif;
}

.mat-button {
  font-size: 20px;
  color: white;
  font-family: 'Maven Pro', sans-serif;
}
