/* Styles for App Component */

header {
  margin: 20px 0 0px 10px;
  color: #0275d8;
  font-family: 'Maven Pro', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

hr {
  border: #0275d8 inset 1px;
}
