h1 {
  font-size: 50px;
  color: #0275d8;
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
  font-weight: bold;
  margin: 150px;
}

p {
  font-size: 20px;
  color: #0275d8;
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
  margin: 20px;
}
